<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add product</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="header">
    <nav>
      <div class="container">
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/admin/add-product" class="active">Add product</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      <form action="/admin/add-product" method="POST">
        <input type="text" name="title">
        <button type="submit">Add product</button>
      </form>
    </div>
  </main>
</body>
</html>